* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    /*background: linear-gradient(to right top, #472836, #4c326d);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2614ea;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: -35px;
}

h2, p {
    color: #0e2180;
    font-weight: 400;
    opacity: 0.8;
}

h3 {
    color: #0e2180;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}


.glass {
    min-height: 80vh;
    height: 130vh;
    width: 60%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    z-index: 2;
    grid-area: 5%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    text-align: center;
    border-radius: 2rem;
    width: 40%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

/*.dashboard .pokemon {
    background: darkcyan;
}*/

@media screen and (max-width: 1146px) {
    .glass {
       /* background: rgb(127, 63, 17);*/
        width: 90%;
    }

    .dashboard {
        /*background: rebeccapurple;*/
        gap: 45px;
    }

    .card-info {
        height: 200px;
        line-height: 1em;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
    }

    .card-images { margin-left: 10%; }

    .card-images h2 { margin-left: -40px; }

    .card-images img {
        position: relative;
        animation-name: toMove;
        animation-duration: 6s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    @keyframes toMove {
        0%   { top:  0%    }
        25%  { top: -65%;  }
        50%  { top: -150%; }
        75%  { top: -240%; }
        100% { top: -245%; }
    }
    .links {
        /*background: firebrick;*/
        margin-left: -50px;
    }

    .link2  {
      /*  background: saddlebrown;*/
        margin-top: 10px !important;
        margin-left: 50px;
    }

    .link3 {
        margin-top: 28px !important;
        margin-left: 50px;
    }
}

@media screen and (max-width: 822px) {
    .glass {
      /* background: rgb(240, 236, 18);*/
        width: 80%;
    }
    .dashboard {
      /*  background: salmon;*/
    }

    /*.cards {
        background: goldenrod;
    }*/

    .link {
        /*background: floralwhite;*/
        margin-left: -10px !important;
    }

    .card-images  img {
        margin-left: 10% !important;
    }
}

@media screen and (max-width: 664px) {
    .glass {
   /* background: rebeccapurple;*/
        width: 86%;
    }
    /*.dashboard {
        background: rgb(7, 148, 187);
    }*/

    .cards {
        margin-left: -20px;
    }

    .links {
      /*  background: firebrick;*/
        margin-left: -80px;
    }
}

@media screen and (max-width: 573px) {
    .glass {
      /* background: rgb(84, 4, 164);*/
        width: 86%;
    }
    .dashboard {
       /* background: rgb(41, 203, 87);*/
        
    }

    
}

@media screen and (max-width: 587px) {
    .glass {
       /* background: rgb(228, 98, 11);*/
        width: 92%;
    }

    .dashboard {
        gap: 58px;
    }

    .cards {
      /*  background: rgb(46, 23, 2);*/
        margin-left: -10%;
    }

    .link2  {
       /* background: saddlebrown;*/
        margin-top: 26px !important;
    }
}

@media screen and (max-width: 546px) {
    .details {
        width: 102%;
    }
    .glass {
       /* background: rgb(223, 3, 105);*
        width: 90%;
    }

    .cards{
        width: 95%;
    }

    .cards {
       /* background: rgb(46, 23, 2);*/
        margin-left: -10%;
    }

    .link {
        /*background: green;*/
        margin-left: -20px !important;
    }

    .status h1 {
        /*background-color: chartreuse;*/
        margin-left: -50px;
    }

    .card-info {
        width: 200%;
        margin-left: -30%;
    }

    .card-images h2 {
        margin-left: 6px;
        width: 100%;
    }
}

@media screen and (max-width: 477px) {
    .details {
        font-size: 14px;
    }
    .glass {
       /*background: rgb(150, 9, 49);*/
        width: 92%;
    }

    span {
        font-size: 18px !important;
    }

    .cards{
        width: 95%;
        margin-left: -10%;
    }

    .card-inf {
       /* background: slateblue;*/
        width: 90%;
        margin-left: 10%;
    }

    .pokemon .imagePokemon{
        width: 140px !important;
    }
}


@media screen and (max-width: 460px) {
    .details {
        width: 108%;
        
    }

    .dashboard {
        background: transparent;

    }

    .glass {
       /*background: #0279db;*/
       width: 86%;
        height: 80%;
    }
    
    .dashboard {
        font-size: 14px;
      /*  background: rgb(183, 31, 56);*/
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    .pokemon {
        width: 100%;
        margin-top: 100%;
    }

    .links {
        visibility: hidden;
    }

    .cards {
    
        margin-left: -43px;
        margin-top: -148px;
    }

    .status h1 {
        visibility: hidden;
    }

    .div-moves h3 {
        font-size: 14px;
    }  
    
    
    
}

@media screen and (max-width: 418px) {
   /* .dashboard {
        background: salmon;
    }*/

    .glass {
        /*background: darkcyan;*/
        margin-left: -10px;
    }

   

    .pokemon  {
        margin-top: -185px;
        margin-left: 80px;
    }
    .cards {
      /*  background: hotpink;*/
        margin-top: 138px;
        width: 300px;
        margin-left: -140px;
    }
}

@media screen and (max-width: 306px) {

    .details {
        width: 115%;
    }

   /* .glass {
        background: darkgreen;
    }*/
    .pokemon {
        margin-left: 60px;
    }

    
    .pokemon {
        text-align: center;
        width: 200%;
     /*   background: saddlebrown;*/
        
    }

    .div-moves {
        /*background: saddlebrown;*/
        margin: -5px;
    }

    .pokemon {
        /*background: saddlebrown;*/
       
        margin-top: -180px;
    }

   /* .dashboard {
        background: rebeccapurple;
    }*/

    .card img {
        margin-right: -150px;
     /*   background: darkcyan;*/
    }
}


@media screen and (max-width: 296px) {

    .details {
        width: 120%;
    }

   /* .glass {
        background: skyblue;
    }*/
    .cards {
        /*background-color: yellow;*/
        width: 180%;
        margin-left: -120px;
    }

    .pokemon {
        /*background: saddlebrown;*/
        margin-left: 50px;
        margin-top: -180px;
    }

    .card-info img {
     /*   background: red ;*/
        margin-left: 4px !important;
    }
}

@media screen and (max-width: 268px) {

    .details {
        width: 140%;
    }

    /*.glass { background: darkmagenta;}*/
    .cards {
       /* background: firebrick;*/
        width: 160%;
    }

    .pokemon {
        /*background: saddlebrown;*/
        margin-left: 40px;
        margin-top: -180px;
    }

    .card-info img {
        /*   background: red ;*/
           margin-left: 1px !important;
    }

    .card-images img {
        width: 140px !important;
    }
}

.pokemon .imagePokemon {
    width: 180px;
    height: 110%;
}





.links {
  /*  background: greenyellow;*/
    width: 100%;
    margin-top: 20px;
}

.link h2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 14px;
  /*  border: solid 2px black;*/
}

.link span  {
   /* background: hotpink;*/
   font-size: 20px;
   width: 56%;
   margin: auto;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    display: flex;
    margin-top: 15%;
   /* background: darkgoldenrod;*/
}

.link2 {
   /* background: rgb(196, 14, 93);*/
    margin-top: 50px;
    
}

.link3 {
    margin-top: 50px;
}

.title-link {
    
   /* background: rgb(214, 35, 15);*/
    height: 20%;
}

.link2 p {
 /*   background: rgb(46, 33, 2);*/
    margin-top: 20px;
    text-transform: uppercase;
}



.link3 p {
   /* background: darkcyan;*/
    margin-top: 20px;
    text-transform: uppercase;
}

.status {
    margin-bottom: 3rem;
}

.status h1 {
    text-align: center;
    text-transform: capitalize;
}

.card {
    display: flex;
    background: linear-gradient(to left top,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 1rem 3rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-around;
    width: 80%;
}


.div-moves {
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
  /*  background: yellow;*/
}

.div-moves h2 {
    text-align: center;
    margin-bottom: 15px;
    /*background: green;*/
}

.items {
   /* background: rgb(196, 7, 7);*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.itemTitle {
    /*background: sienna;*/
    width: 40%;
    height: 35px;
    text-transform: capitalize;
    font-size: 15px;
}

.itemTitle p {
    margin-left: 20px;
    background: saddlebrown;
}

/*.items input[type='range'] {
    -webkit-appearance: none;
}

.items input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}*/

input[type=range] {
    width: 100%;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: rgba(48, 113, 169, 0.8);
    border: 0.6px solid #010101;
    border-radius: 23.4px;
    width: 100%;
    height: 0px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -5.6px;
    width: 17px;
    height: 10px;
    background: rgba(208, 202, 158, 0.9);
    border: 0;
    border-radius: 14px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #72a8d7;
  }
  input[type=range]::-moz-range-track {
    background: rgba(48, 113, 169, 0.8);
    border: 0.6px solid #010101;
    border-radius: 23.4px;
    width: 100%;
    height: 0px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 17px;
    height: 10px;
    background: rgba(208, 202, 158, 0.9);
    border: 0;
    border-radius: 14px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.5px 0;
    color: transparent;
    width: 100%;
    height: 0px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #173752;
    border: 0.6px solid #010101;
    border-radius: 46.8px;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(48, 113, 169, 0.8);
    border: 0.6px solid #010101;
    border-radius: 46.8px;
  }
  input[type=range]::-ms-thumb {
    width: 17px;
    height: 10px;
    background: rgba(208, 202, 158, 0.9);
    border: 0;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 113, 169, 0.8);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #72a8d7;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  





  
.items h3 {
   /* background: rebeccapurple;*/
    padding: 0px 10px;
}

.card-info {
   /* background: rgb(6, 210, 95);*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-info img {
    width: 150px;
    height: 150px;
    /*background: sienna;*/
    margin-left: 4%;
}

.card-images h2 {
  /*  background: rgb(8, 86, 220);*/
    text-align: center;
}

.status h1 {
    /*background: saddlebrown;*/
    height: 90px;
}