* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*++ container principal */
.details {
    max-width: 100%;
    opacity: 0.5;
}

/*++ container of details */
main {
    min-height: 100vh;
    /*background: linear-gradient(to right top, #472836, #4c326d);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2614ea;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: -35px;
}

.details h2, label {
    color: #0e2180;
    font-weight: 400;
    opacity: 0.8;
}

h3 { color: #0e2180; }

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

/*++ to have progress bar and images pokemon */
.glass {
    min-height: 80vh;
    height: 130vh;
    width: 60%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    z-index: 2;
    grid-area: 5%;
}

/*++ lateral bar */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    text-align: center;
    border-radius: 2rem;
    width: 40%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

/*++ pokemon lateral */
.pokemon .imagePokemon {
    width: 180px;
    height: 110%;
}

/*++ container of Types and Abilities */

.links {
    width: 100%;
    margin-top: 20px;
}

.link h2 {
    width: 310px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: -45px;
}

.link span  {
    font-size: 21px;
    width: 82%;
    margin: auto;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    display: flex;
    margin-top: 15%;
}

.link2 { margin-top: -30px; }

.link3 { margin-top: 50px; }

.title-link { height: 20%; }

.link2 p {
    margin-top: 20px;
    text-transform: uppercase;
}

.link3 p {
    margin-top: 20px;
    text-transform: uppercase;
}

.status { margin-bottom: 3rem; }

.status h1 {
    text-align: center;
    text-transform: capitalize;
}

/*++ container stats and images  */
.card {
    display: flex;
    background: linear-gradient(to left top,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 1rem 3rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-around;
    width: 80%;
}


.div-moves {
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}

.div-moves h2 {
    text-align: center;
    margin-bottom: 15px;
}

.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.itemTitle {
    width: 40%;
    height: 35px;
    text-transform: capitalize;
    font-size: 15px;
}

.items label { padding: 0px 10px; }

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-info img {
    width: 150px;
    height: 150px;
    margin-left: 4%;
}

.card-images h2 {
    text-align: center;
}

.status h1 {
    height: 90px;
}


/*@ ------- Responsive --------*/

@media screen and (max-width: 1920px) {
    .glass {
      /*  background: darkcyan;*/
        height: 92%;
    }

   /* .dashboard {
        background: slateblue;
    }*/

    .pokemon {
        /*background: saddlebrown;*/
        width: 250px;
        height: 280px;
    }

    .pokemon h3, p, h2 {
        font-size: 26px;
    }

    .links {
        
        margin-top: 50px;
    }


    .link2 h2 {
        font-size: 30px;
    }

    .link h2 span {
        font-size: 25px;
    }

    .itemTitle {
        font-size: 20px;
        width: 60%;
    }

    .card-images h2 {
        margin-left: -15%;
    }
    .card-images {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1280px) {
    .glass {
      /*  background: red;*/
        height: 60%;
    }
    .dashboard {
        gap: 50px;
    }

    .pokemon p{
        
        margin-top: 10px;
    }
   
    .link {
        margin-top: 27%;
    }

    .link h2 {
        margin-left: 4px;
    }

    .card-inf .div-moves{
        height: 100%;
    }

    .card .div-moves h2 {
        margin-top: -50px;
        
    }

    .div-moves .itemTitle {
        margin-top: 10px;
        font-size: 21.6px;
    }
    .card .card-inf {
        
        height: 350px;
    }
    .card-info {
        height: 300px;
        line-height: 1em;
        overflow: hidden;
        overflow-x: hidden;
        width: 100%;
    }

    .card-images { margin-left: 10%; }

    .card-images h2 { margin-left: -40px; }

    .card-images img {
        position: relative;
        animation-name: toMove;
        animation-duration: 6s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        margin-left: 40px;
    }

    @keyframes toMove {
        0%   { top:  0%    }
        25%  { top: -45%;  }
        50%  { top: -150%; }
        75%  { top: -240%; }
        100% { top: -245%; }
    }

    .card-images h2  {
        position: absolute;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1146px) {
    .glass {
       /* background: rgb(127, 63, 17);*/
        width: 90%;
        height: 85%;
    }

    .dashboard {
       /* background: rebeccapurple;*/
        height: 100%;
        gap: 5px;
    }

    .card-info {
        height: 200px;
        line-height: 1em;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
    }

    .card-images { margin-left: 10%;}

    .card-images h2 { margin-left: -40px; }

    .card-images img {
        position: relative;
        animation-name: toMove;
        animation-duration: 6s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    @keyframes toMove {
        0%   { top:  0%    }
        25%  { top: -65%;  }
        50%  { top: -150%; }
        75%  { top: -240%; }
        100% { top: -245%; }
    }

    .card-images h2  {
        position: absolute;
        margin-left: 7%;
        margin-top: 178px;
    }
    .links {
      /*  background: firebrick;*/
        margin-top: -50px;
    }

    .link span {
        margin-top: 10px;
    }

    .link2  {
      /*  background: saddlebrown;*/
        margin-top: -80px;
        
    }

    .link3 {
        margin-top: 28px !important;
        height: 139px;
    }
}

@media screen and (max-width: 962px) {
    /*.glass {
       background: gray;
    }*/

    .links .link h2 {
        border: 10px;
        margin-left: -20px;
    }

    .link {
        width: 50%;
    }

  
    .link strong {
        margin-left: 15px;
        border: 5px solid transparent ;
    }

    .card-images  img {
        margin-left: 80px;
    }

    .link2 {
        margin-top: -50px;
    }

    .card-images h2 {
        margin-left: 10px;
    }
}

@media screen and (max-width: 822px) {
    .glass {
     /*  background: rgb(240, 236, 18);*/
        width: 90%;
    }
    .dashboard {
      /*  background: salmon;*/
    }

    .imagePokemon {
       
        margin-bottom: 10px;
    }

    
    .link {
       margin-top: 180px;
       width: 200px;
        margin-left: -16% !important;
    }

    .link h2{
        margin: 30px;
    }

    .card-images  img {
        margin-left: 10% !important;
    }

    .card-images h2 {
        margin-left: 6%;
    }
}

@media screen and (max-width: 664px) {
    .glass {
    /*background: rgb(172, 4, 128);*/
        width: 95%;
    }
    /*.dashboard {
        background: rgb(7, 148, 187);
    }*/

    .items .itemTitle {
        width: 50%;
    }

    .cards {
        margin-left: -20px;
    }

    .links {
      /*  background: firebrick;*/
        margin-left: -30px;
    }

    .card-images h2 {
        
        margin-left: -10px;
    }
}
/*
@media screen and (max-width: 573px) {
    .glass {
       background: rgb(121, 8, 94);
        width: 86%;
    }
    .dashboard {
       /* background: rgb(41, 203, 87);
        
    }

    
}*/

@media screen and (max-width: 587px) {

    .details {
        width: 200%;
    }

    .glass {
        /*background: rgb(228, 98, 11);*/
        width: 80%;
    }

    .dashboard {
        gap: 58px;
    }

    .cards {
        width: 100%;
    }

    .card .itemTitle {
      /*  background: salmon;*/
        width: 65%;
    }

    .link2  {
       /* background: rgb(7, 142, 169);*/
        margin-top: -50px !important;
    }
}

@media screen and (max-width: 546px) {
    .main {
        width: 200%;
    }
    .glass {
       /* background: rgb(83, 221, 9);*/
        width: 90%;
    }

    .cards{
        width: 95%;
    }

    .cards {
       /* background: rgb(46, 23, 2);*/
        margin-left: -10%;
    }

    .link {
        /*background: green;*/
        margin-left: -20px !important;
    }

    .status h1 {
        /*background-color: chartreuse;*/
        margin-left: -50px;
    }

    .card-info {
        width: 200%;
        margin-left: -30%;
    }

    .card-images h2 {
        margin-left: 6px;
        width: 100%;
    }
}

@media screen and (max-width: 477px) {
    .details {
        font-size: 14px;
    }
    .glass {
     /* background: rgb(10, 3, 35);*/
        width: 92%;
    }

    span {
        font-size: 18px !important;
    }

    .cards{
        width: 95%;
        margin-left: -10%;
    }

    .card-inf {
       /* background: slateblue;*/
        width: 90%;
        margin-left: 10%;
    }

    .pokemon .imagePokemon{
        width: 140px !important;
    }
}


@media screen and (max-width: 460px) {
    .details {
        width: 108%;
        
    }

    .dashboard {
        background: transparent;

    }

    .glass {
       /*background: #0dc5a9;*/
       width: 86%;
        height: 80%;
    }
    
    .dashboard {
        font-size: 14px;
      /*  background: rgb(183, 31, 56);*/
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    .card-info {
        overflow: hidden;
    }
    .pokemon {
        width: 100%;
        margin-top: 100%;
    }

    .links {
        visibility: hidden;
    }

    .cards {
    
        margin-left: -43px;
        margin-top: -148px;
    }

    .status h1 {
        visibility: hidden;
    }

    .div-moves h3 {
        font-size: 14px;
    }  
    
    .card-images img{
        margin-left: 20% !important;
    }
    .card-info .card-images h2 {
        visibility: hidden;
    }
    
}

@media screen and (max-width: 428px) {
    /*.dashboard {
        background: salmon;
    }*/

    .pokemon {
        margin-top: -100px;
       
    }

    .pokemon p {
        font-size: 18px;
    }
}

@media screen and (max-width: 418px) {
    /*.dashboard {
        background: rgb(12, 116, 186);
    }*/

    .glass {
        /*background: darkcyan;*/
        margin-left: -10px;
    }
    .games .status h1 {
        visibility: visible;
        margin-left: -70%;
        margin-top: 20px;
    }

    .pokemon .imagePokemon {
        margin-top: -90px;
    }

    .cards {
        margin-top: 180px !important;
    }

   .pokemon p, h3 {
    visibility: hidden;
   }

    .pokemon  {
        margin-top: -185px;
        margin-left: 80px;
    }
    .cards {
       /* background: hotpink;*/
        margin-top: 138px;
        width: 300px;
        margin-left: -140px;
    }

    .itemTitle {
        font-size: 13.5px;
        text-align: center;
        margin-top: 2px;
        width: 95% !important;
    }

    .itemTitle label {
        width: 60px;
        line-height: 5px;
    }

}

@media screen and (max-width: 410px) {
    /*.dashboard {
        background: rgb(7, 220, 152);
    }*/

    .games .status h1 {
        visibility: visible;
        margin-left: -65%;
        margin-top: 15px;
    }

    .pokemon .imagePokemon {
        margin-top: -90px;
    }

    .cards {
       
        margin-top: 180px;
    }
}

@media screen and (max-width: 306px) {

    .details {
        width: 115%;
    }

    /*.glass {
        background: darkgreen;
    }*/
    .pokemon {
        margin-left: 60px;
    }

    
    .pokemon {
        text-align: center;
        width: 200%;
     /*   background: saddlebrown;*/
        
    }

    .div-moves {
        /*background: saddlebrown;*/
        margin: -5px;
    }

    .pokemon {
        /*background: saddlebrown;*/
       
        margin-top: -180px;
    }

   /* .dashboard {
        background: rebeccapurple;
    }*/

    .card img {
        margin-right: -150px;
     /*   background: darkcyan;*/
    }
}


@media screen and (max-width: 296px) {

    .details {
        width: 120%;
    }

    /*.glass {
        background: skyblue;
    }**/
    .cards {
        /*background-color: yellow;*/
        width: 180%;
        margin-left: -120px;
    }

    .pokemon {
      /*  background: saddlebrown;*/
        margin-left: 50px;
        margin-top: -180px;
    }

    .card-info img {
     /*   background: red ;*/
        margin-left: 4px !important;
    }
}

@media screen and (max-width: 268px) {

    .details {
        width: 140%;
    }

   /* .glass { background: darkmagenta;}*/
    .cards {
     /*   background: firebrick;*/
        width: 160%;
    }

    .pokemon {
        /*background: saddlebrown;*/
        margin-left: 40px;
        margin-top: -180px;
    }

    .card-info img {
        /*   background: red ;*/
           margin-left: 1px !important;
    }

    .card-images img {
        width: 140px !important;
    }
}
