* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass {
    background: rgb(255, 255, 255);
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    z-index: 2;
    gap: 5%;
}

.dashboard {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    text-align: center;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    width: 35%;
}

.dashboard .imagePokemon {
    width: 80%;
    height: 60%;
    margin-top: 20%;
}


h1 {
    color: #2614ea;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p {
    color: #0e2180;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

/*.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    background: darkgoldenrod;
}*/


main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #472836, #4c326d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

/*.cards {
    background: chartreuse;
}*/

.card {
    display: flex;
    background: linear-gradient(to left top,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 6rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-around;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-info img {
    width: 50%;
    height: 50%;
}
.card-info h2 { text-transform: capitalize; text-align: center;}

.card-info .card-images {
    width: 100%;
    margin: auto;
    padding: auto;
}

.card-images img {
    margin-left: 70px;
}

.card-info img {
    width: 120px;
    height: 100px;
}

.card-info {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.card-info .p-div {
   
    display: flex;
    width: 500px;
    height: 300px;
    position: absolute;
}

.card-info .div-moves {
    background: rebeccapurple;
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}

.card-info button {
    
    border: none;
    display: flex;
}

/*******************************************************************************************/
.card-inf {
    /*background: saddlebrown;*/
    display: flex;
    max-width: 500px;
    height: 350px;
}

.card-inf .div-moves {
   /* background: yellowgreen;*/
    width: 300px;
    height: 70px;
    display: flex;
    gap: 5px;
    text-align: center;
    margin-top: -50px;
    flex-wrap: no-wrap;
}

/*.div-moves .p-div {
    background: slateblue;
    width: 700px;
    height: 200px;
}
*/

.class-move {
    background: lightgreen;
    width: 100px;
}

/*.card {
    background: rgb(91, 10, 10);
}*/

.links {
   
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.div-moves .ranges .s{
    display: flex;
    justify-content: center;
    width: 120%;
    margin-top: 20px;
}

.div-moves .s h3 {
    margin-right: 15px;
}

.games {
    flex: 2;
}

.status {
    margin-bottom: 3rem;
}

.status h1 {
    text-align: center;
}

.status input {
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

/*.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}


.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/