/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
:root {
  --pngCursor: url('https://img.icons8.com/fluency/48/000000/heart-plus.png');
  --bg-imgInput: url('./assets/bg-poke-input.jpg');
  --bg-imgInputLittle: url('./assets/bg-poke-input2.jpg');
  --bg-html: rgb(0,0,0);
  --color-text-input: rgb(207, 207, 207);
  --color-focus-input: rgb(120, 120, 120);
}

html { background: var(--bg-html); color: var(--color-text-input);}

/*-------- Component of UserInput ----------*/

/*++ Principal div ++*/
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInput { margin: auto; }

/*++ add image with css ++*/
.cardInput .img {
  background-image: var(--bg-imgInput);
  background-repeat: no-repeat;
  width: 560px;
  height: 450px;
}

/*++ CardInfo: Input and button ++*/
.cardInfo {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.cardInfo input {
  width: 60%;
  flex-grow: 1;
  outline: none;
  font-size: 1.8rem;
  border-style: none; 
  line-height: 2.4rem;
  vertical-align: middle;
  background: transparent;
  color: var(--color-text-input);
}

::-webkit-input-placeholder { 
  color: var(--color-focus-input); 
  border-right: 2px solid var(--bg-html);
  animation: name 3s steps(30, end), cursor 1s step-end infinite;
}

@keyframes name {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: var(--bg-html); }
}

.cardInfo .btn {
  padding: 0; 
  background: none; 
  border: none; 
  outline: none; 
  color: var(--bg-html);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  width: 10%;
}

.cardInfo .btn:active {
  width: 50px;
  cursor: var(--pngCursor), auto;
}

.cardInfo input:focus + .btn { color: var(--color-focus-input); }

.cardInfo .btn:hover { color: var(--bg-html); }

/*-------- Add Media Queries --------*/

@media screen and (max-width: 570px) {
  .cardInput .img {
    margin-left: -45px;
  }
}

@media screen and (max-width: 460px) {
  .cardInput .img {
    background-image: var(--bg-imgInputLittle);
    width: 300px;
    height: 220px;
    margin: auto;
    margin-top: 20%;
  }

  ::-webkit-input-placeholder { font-size: 20px; }

  .cardInfo input:focus + .btn { font-size: 26px; margin-top: 5px;}
}

/*-------- PokemonList Component --------*/

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-container .col {
  width: 25%;
  padding: 10px;
}

.pokemon-container .col .pokemon-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(99, 59, 9);
}

.pokemon-container .col .pokemon-card img {
  width: 90%;
}

.details strong {
  font-size: 15px;
  background: salmon;
}

/*-------- Pokemon List --------*/
.btnIndex:focus {
  background: rgb(37, 69, 51);
}

.btnIndex::before {
  background: rebeccapurple;
}

/*-------- Top Bar Component --------*/

.principalBar {
  width: 98.5%;
  height: 17%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 30px;
  background: linear-gradient(115deg, #eeeeee 57.8%, red 57.7%);
}

.TopBar img {
  width: 320px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30%;
  width: 40%;
  height: 70%;
  color: rgb(0, 0, 0);
}

.container img {
  width: 70px;
  height: 70px;
}

.message {
  text-align: center;
  width: 40%;
}

.ball {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.ball .pokeBall:hover { transform: rotate(95deg); }

.ball .cant {
  font-size: 25px;
  margin-left: -16%;
}

@media screen and (max-width: 960px) {
  body {
    background: salmon;
  }

  .ball .pokeBall {
    width: 65px;
    height: 64px;
    margin-top: 4px;
  }

  .ball {
    width: 35%;
  }
  
}

@media screen and (max-width: 841px) {
  body {
    background: darkcyan;
  }

  .message {
    width: 30%;
  }
  .ball {
    width: 45%;
  }
}

@media screen and (max-width: 791px) {
  body {
    background: orange;
  }

  .TopBar img {
    margin-right: 200px;
    width: 270px;
    height: 80px;
  }

  .message, .cant {
    font-size: 18px;
  }

  .container {
    margin: auto 1px;
    
  }

  .ball .cant {
    margin-left: 1px;
  }
}

@media screen and (max-width: 655px) {
  body {
    background: rgb(71, 213, 10);
  }

  .container {
    margin-left: -100px;
    /*background: saddlebrown;*/
  }

  .pokeBall {
    width: 100px;
    height: 20px;
    margin-top: 50px;
    
  }
}

@media screen  and (max-width: 736px ){
  body {
    background: rgb(91, 3, 3);
  }

  .principalBar {
    width: 97.3%;
  }

  /*.container {
    margin-right: 20%;
    background: bisque;

  }*/

  /*.message{
    padding: 12px;
  }
  */
}

@media screen  and (max-width: 591px )  {
  body {
    background: seagreen;
  }

  .TopBar img {
    width: 280px;
    height: 80px;
  }

  /*.container {
    background: wheat;
  }
*/
  .ball .pokeBall {
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }

  .ball .cant{
    width: 20px;
  }
}

@media screen  and (max-width: 591px ) {
  body {
    background: rgb(83, 44, 44);
  }

  .principalBar {
    width: 97%;
  }

  .TopBar img {
    width: 200px;
    height: 80px;
  }

  /*.container {
   
    background: seashell;
  }*/

  .message {
    font-size: 15px;
    margin-left: 20px;
  }

  .ball .pokeBall {
    width: 50px;
    height: 50px;
    margin-top: 11px;
  }
  .ball .cant {
    margin-left: 1px;
  }
  
}

@media screen  and (max-width: 488px ) {
  body {
    background: slategray;
  }

  .principalBar {
    width: 96.4%;
  }
  .container {
  
    margin-left: -180px;
  }

  .cant p {
    background: saddlebrown;
  }
}


@media screen  and (max-width: 390px ) {
  body {
    background: slateblue;
  }

  .principalBar {
    width: 95.3%;
  }

  .TopBar img {
    width: 160px;
    height: 70px;
  }

  .message {
    
    padding: 20px;
  }

  .pokeBall {
    margin-left: 10px;
  }
  .cant {
    visibility: hidden;
  }
}


@media screen  and (max-width: 299px ) {
  body {
    background: seagreen;
  }

  .principalBar {
    width: 95%;
  }

  .container {
    margin-right: -12px;
  }

  .TopBar img {
    width: 140px;
    height: 80px;
  }

  .pokeBall {
    visibility: hidden;
  }
}

/*-------- Top Bar Component --------*/

