/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
:root {
  --pngCursor: url('https://img.icons8.com/fluency/48/000000/heart-plus.png');
  --bg-imgInput: url('./assets/bg-poke-input.jpg');
  --bg-imgInputLittle: url('./assets/bg-poke-input2.jpg');
  --bg-html: rgb(0,0,0);
  --color-text-input: rgb(207, 207, 207);
  --color-focus-input: rgb(120, 120, 120);
}

html { background: var(--bg-html); color: var(--color-text-input);}

/*-------- Component of UserInput ----------*/

/*++ Principal div ++*/
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInput { margin: auto; }

/*++ add image with css ++*/
.cardInput .img {
  background-image: var(--bg-imgInput);
  background-repeat: no-repeat;
  width: 560px;
  height: 450px;
}

/*++ CardInfo: Input and button ++*/
.cardInfo {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.cardInfo input {
  width: 60%;
  flex-grow: 1;
  outline: none;
  font-size: 1.8rem;
  border-style: none; 
  line-height: 2.4rem;
  vertical-align: middle;
  background: transparent;
  color: var(--color-text-input);
}

::-webkit-input-placeholder { 
  color: var(--color-focus-input); 
  border-right: 2px solid var(--bg-html);
  animation: name 3s steps(30, end), cursor 1s step-end infinite;
}

@keyframes name {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: var(--bg-html); }
}

.cardInfo .btn {
  padding: 0; 
  background: none; 
  border: none; 
  outline: none; 
  color: var(--bg-html);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  width: 10%;
}

.cardInfo .btn:active {
  width: 50px;
  cursor: var(--pngCursor), auto;
}

.cardInfo input:focus + .btn { color: var(--color-focus-input); }

.cardInfo .btn:hover { color: var(--bg-html); }

/*-------- Add Media Queries --------*/

@media screen and (max-width: 570px) {
  .cardInput .img {
    margin-left: -45px;
  }
}

@media screen and (max-width: 460px) {
  .cardInput .img {
    background-image: var(--bg-imgInputLittle);
    width: 300px;
    height: 220px;
    margin: auto;
    margin-top: 20%;
  }

  ::-webkit-input-placeholder { font-size: 20px; }

  .cardInfo input:focus + .btn { font-size: 26px; margin-top: 5px;}
}

/*-------- PokemonList Component --------*/

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-container .col {
  width: 25%;
  padding: 10px;
}

.pokemon-container .col .pokemon-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(99, 59, 9);
}

.pokemon-container .col .pokemon-card img {
  width: 90%;
}

.details strong {
  font-size: 15px;
  background: salmon;
}