/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
:root {
  --pngCursor: url('https://img.icons8.com/fluency/48/000000/heart-plus.png');
  --bg-imgInput: url('./assets/bg-poke-input.jpg');
  --bg-html: rgb(0,0,0);
  --color-text-input: rgb(207, 207, 207);
  --color-focus-input: rgb(120, 120, 120);
}

html { background: var(--bg-html); }

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInput { margin: auto; }

.cardInput .img {
  background-image: var(--bg-imgInput);
  background-repeat: no-repeat;
  width: 560px;
  height: 450px;
}

.cardInfo {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.cardInfo input {
  width: 60%;
  flex-grow: 1;
  outline: none;
  font-size: 1.8rem;
  border-style: none; 
  line-height: 2.4rem;
  vertical-align: middle;
  background: transparent;
  color: var(--color-text-input);
}

::-webkit-input-placeholder { color: var(--color-focus-input); }

.cardInfo button {
  padding: 0; 
  background: none; 
  border: none; 
  outline: none; 
  color: var(--bg-html);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  width: 10%;
}

.cardInfo button:active {
  width: 50px;
  cursor: var(--pngCursor), auto;
}

.cardInfo input:focus + .btn { color: var(--color-focus-input); }

.cardInfo button:hover { color: var(--bg-html); }




